<!DOCTYPE html>
<html>

<head>

</head>

<body>
  {% include 'navbar.html' %}
  <link type="text/css" rel="stylesheet" href="static/css/index.css">
  {% block content %}
  <div class="container">
    <div class="form-group">
      <form action="" method="POST">
        <table class="table">
          <h4 class="page-title">All Reservations</h4>
          <b>Reservation Number: </b><br>

          <input type="text" name="delete_res">&nbsp&nbsp
          <input type="submit" value="Cancel Reservation"><br><br>
          <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h3>{{ message }}</h3><br>
            {% endfor %}
            {% endif %}
            {% endwith %}          
          </p>

          <tr>
            <th>Reservation Number</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Room Number</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Number of Guests</th>
            <th>Reservation Date</th>
            <th>Price</th>
          </tr>

          {% for result in results %}
          <tr>
            <td>{{ result["Reservation_id"] }}</td>
            <td>{{ result["Email"] }}</td>
            <td>{{ result["First_name"] }}</td>
            <td>{{ result["Last_name"] }} </td>
            <td>{{ result["Room_type"] }} {{ result["Room_id"] }}</td>
            <td>{{ result["Check_in_date"] }}</td>
            <td>{{ result["Check_out_date"] }}</td>
            <td>{{ result["Guests"] }}</td>
            <td>{{ result["Reservation_date"] }}</td>
            <td>${{ result["Reservation_price"] }}</td>
          </tr>

          {% endfor %}
      </form>
      </table>
    </div>
  </div>
  {% endblock %}


</body>

</html>